/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {color: #222; }

body {font-size: 1em; line-height: 1.4; }
a {color: #00e; }
a:visited {color: #551a8b; }
a:hover {color: #06e; }
/* * Remove the gap between images and the bottom of their containers: h5bp.com/i/440 */
img {vertical-align: middle; }
/* * Remove default fieldset styles. */
fieldset {border: 0; margin: 0; padding: 0; }
/* * Allow only vertical resizing of textareas. */
textarea {resize: vertical; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{}
#weightsForm{width: 100%;}
#weightTable{width: 100%;font-size: 20px;font-weight: bold;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#weightTable tr.day-A{background: #fe6f59; /* Old browsers */
    background: -moz-linear-gradient(top,  #fe6f59 0%, #cb5947 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe6f59), color-stop(100%,#cb5947)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fe6f59 0%,#cb5947 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fe6f59 0%,#cb5947 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fe6f59 0%,#cb5947 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fe6f59 0%,#cb5947 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe6f59', endColorstr='#cb5947',GradientType=0 ); /* IE6-9 */
}
#weightTable tr.day-B{background: #faf259; /* Old browsers */
    background: -moz-linear-gradient(top,  #faf259 0%, #c8c247 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faf259), color-stop(100%,#c8c247)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #faf259 0%,#c8c247 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #faf259 0%,#c8c247 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #faf259 0%,#c8c247 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #faf259 0%,#c8c247 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf259', endColorstr='#c8c247',GradientType=0 ); /* IE6-9 */
}
#weightTable tr.day-AB{background: #fcb359; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcb359 0%, #ca8f47 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcb359), color-stop(100%,#ca8f47)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcb359 0%,#ca8f47 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcb359 0%,#ca8f47 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcb359 0%,#ca8f47 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcb359 0%,#ca8f47 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcb359', endColorstr='#ca8f47',GradientType=0 ); /* IE6-9 */
}
#weightTable tr th{color: #000;font-size: 0.75em;}
#weightTable tr th,
#weightTable tr td{padding: 8px 0;background: inherit;}
#weightTable tr td.exercise{padding-left: 10px;}
#weightTable .user-id{width: 100%;}
#weightTable tr td div.lift-name{font-size: 20px;color: #fff;font-weight: bold;text-shadow: 0 1px 0px rgba(0,0,0,0.4);}
#weightTable tr td div.lift-name a{text-decoration: inherit;color: inherit;}
#weightTable tr td div.set-details{font-size: 12px;color: #000;}
#weightTable tr td.name,
#weightTable tr.date{color: #000;text-shadow: none;}
#weightTable tr.date{text-align: center;}
#weightTable tr td.previous-weight{text-align: center;}
#weightTable tr td.second-time{box-shadow: 0 0 3px #000000 inset;}
#weightTable tr td select{border: 1px solid #000;height: 2em;background: inherit;}
.footerLinks{padding: 10px 0;text-align: center;}
.footerLinks button.main-submit{width: 94%;border: 1px solid #000;border-radius: 14px;font-size: 40px;line-height: 60px;}

#chartContainer{top: 0;left: 0;width: 100%;height: 100%;background: #fff;}
#chartContainer.active{position: absolute;}
#weightsChart{width: 100%;height: 100%;}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* Prevent callout */
.nocallout {-webkit-touch-callout: none; }
.pressed {background-color: rgba(0, 0, 0, 0.7); }
/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] {-webkit-appearance: none; }
/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */
.gifhidden {position: absolute; left: -100%; }
/* * Image replacement */
.ir {background-color: transparent; background-repeat: no-repeat; border: 0; direction: ltr; display: block; overflow: hidden; text-align: left; text-indent: -999em; }
.ir br {display: none; }
/* * Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {display: none !important; visibility: hidden; }
/* * Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
/* * Hide visually and from screenreaders, but maintain layout */
.invisible {visibility: hidden; }
/** * Clearfix helper * Used to contain floats: h5bp.com/q */
.clearfix:before,
.clearfix:after {content: ""; display: table; }
.clearfix:after {clear: both; }
/* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
.clearfix {*zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 600px) {
    /* Style adjustments for viewports that meet the condition */
    #weightsForm{width: 320px;} /* Temporary for desktop development */
}

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
